In [242]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns
import requests
import re
from bs4 import BeautifulSoup

In [257]:


url = 'https://www.football-data.co.uk/mmz4281/2021/E0.csv'

page = requests.get(url).content
df_fb = pd.read_csv('https://www.football-data.co.uk/mmz4281/2021/E0.csv')
df_fb
# df_stoj = pd.read_csv('OPEN_DATA_STOEJDATA_VIEW.csv')
# df_stoj

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [107]:

url = 'https://www.boligsiden.dk/salespriceresult/getdata?salgspristype=solgt&periode.from=2014-01-01&periode.to=2021-12-31&kommune=101&boligtype=alle&side=1'

page = requests.get(url) 
# soup = BeautifulSoup(page.text, 'html.parser')

In [223]:
# Get the available information and storing in dataframe
df = pd.DataFrame(page.json()['searchResult']['result']['propertySales'])
print(len(df))
df.head(3)

30

,residentialArea,postal,city,address,itemTypeName,addressId,addressLink,bbrLink,soldLink,sales,mapPosition,wishPropertyLocationLink
0,101,2300,København S,"Islands Brygge 38B, 6. tv",Ejerlejlighed,islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv,~/adresse/islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv,~/adresse/islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv,~/adresse/islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv,"[{'saleDate': '22-12-2021', 'salePrice': '6.750.000', 'saleTypeId': 1, 'saleType': 'Fri handel',...","{'hasCoordinates': True, 'latLng': {'lat': 55.658334, 'lng': 12.566683}}",https://minside.boligsiden.dk/oenskeboliger?postal=2300&city=K%c3%b8benhavn+S&street=Islands+Bry...
1,210,1253,København K,"Toldbodgade 36B, 1. th",Ejerlejlighed,toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th,~/adresse/toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th,~/adresse/toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th,~/adresse/toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th,"[{'saleDate': '13-12-2021', 'salePrice': '14.650.000', 'saleTypeId': 1, 'saleType': 'Fri handel'...","{'hasCoordinates': True, 'latLng': {'lat': 55.685161, 'lng': 12.596408}}",https://minside.boligsiden.dk/oenskeboliger?postal=1253&city=K%c3%b8benhavn+K&street=Toldbodgade...
2,155,2300,København S,Carlsgade 5B,Ejerlejlighed,carlsgade-5b-2300-koebenhavn-s-01011080__5b_______,~/adresse/carlsgade-5b-2300-koebenhavn-s-01011080__5b_______,~/adresse/carlsgade-5b-2300-koebenhavn-s-01011080__5b_______,~/adresse/carlsgade-5b-2300-koebenhavn-s-01011080__5b_______,"[{'saleDate': '20-10-2021', 'salePrice': '7.495.000', 'saleTypeId': 1, 'saleType': 'Fri handel',...","{'hasCoordinates': True, 'latLng': {'lat': 55.667212, 'lng': 12.614184}}",https://minside.boligsiden.dk/oenskeboliger?postal=2300&city=K%c3%b8benhavn+S&street=Carlsgade&h...

In [179]:
# Function to build new dataframe
def process_property_list(df):

    # Slice columns off
    # df = df.iloc[:,0:5]
    df_out = \
        df \
            .rename(columns={\
                'residentialArea':'kvm',\
                'itemTypeName':'Type'})\
            .drop(['addressLink','bbrLink','soldLink'], axis = 1)\
            .assign(\
                Street = lambda df: df['address'].str.split(',',expand=True)[0],\
                Sale Price = lambda df: df['sales'])
            
            
            



    return df_out  

    # df_out = \
    #     df\
    #         .rename(columns={'0': 'station', '1': 'datetime', '2': 'obs_type', '3': 'obs_value'})\
    #         .query("obs_type == 'TMAX'")\
    #         .assign(\
    #             obs_value=lambda df: df['obs_value']/10,\
    #             area = lambda df: df['station'].str.extract('([a-zA-Z]+)'),\
    #             datetime_dt = lambda df: pd.to_datetime(df['datetime'], format = '%Y%m%d'),\
    #             month = lambda df: df['datetime_dt'].dt.month.map('{:02}'.format),\
    #             year = lambda df: df['datetime_dt'].dt.year)\
    #         .sort_values(by=['station', 'datetime'],ascending = (True,False))\
    #         .reset_index(drop=True)\
    #         .copy()

In [189]:
# pd.options.display.max_colwidth = 100

# Building a new dateframe
test = df.copy()
df_prop_sales = process_property_list(test)
df_prop_sales.head(3)

,kvm,postal,city,address,Type,addressId,sales,mapPosition,wishPropertyLocationLink,Street
0,101,2300,København S,"Islands Brygge 38B, 6. tv",Ejerlejlighed,islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv,"[{'saleDate': '22-12-2021', 'salePrice': '6.750.000', 'saleTypeId': 1, 'saleType': 'Fri handel',...","{'hasCoordinates': True, 'latLng': {'lat': 55.658334, 'lng': 12.566683}}",https://minside.boligsiden.dk/oenskeboliger?postal=2300&city=K%c3%b8benhavn+S&street=Islands+Bry...,Islands Brygge 38B
1,210,1253,København K,"Toldbodgade 36B, 1. th",Ejerlejlighed,toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th,"[{'saleDate': '13-12-2021', 'salePrice': '14.650.000', 'saleTypeId': 1, 'saleType': 'Fri handel'...","{'hasCoordinates': True, 'latLng': {'lat': 55.685161, 'lng': 12.596408}}",https://minside.boligsiden.dk/oenskeboliger?postal=1253&city=K%c3%b8benhavn+K&street=Toldbodgade...,Toldbodgade 36B
2,155,2300,København S,Carlsgade 5B,Ejerlejlighed,carlsgade-5b-2300-koebenhavn-s-01011080__5b_______,"[{'saleDate': '20-10-2021', 'salePrice': '7.495.000', 'saleTypeId': 1, 'saleType': 'Fri handel',...","{'hasCoordinates': True, 'latLng': {'lat': 55.667212, 'lng': 12.614184}}",https://minside.boligsiden.dk/oenskeboliger?postal=2300&city=K%c3%b8benhavn+S&street=Carlsgade&h...,Carlsgade 5B

In [241]:
# print(df.iloc[4])
# print(df.iloc[0,9][0])
# df['sales']

test = df.copy()
# test[['test1','test2']] = pd.DataFrame(test.sales.tolist())
a = [item[0] for item in test['sales'].tolist()]
a

[{'saleDate': '22-12-2021',
  'salePrice': '6.750.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '13-12-2021',
  'salePrice': '14.650.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '20-10-2021',
  'salePrice': '7.495.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '01-09-2021',
  'salePrice': '12.325.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '22-07-2021',
  'salePrice': '1.657.500',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '22-07-2021',
  'salePrice': '800.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '21-07-2021',
  'salePrice': '1.100.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '21-07-2021',
  'salePrice': '2.045.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '21-07-2021',
  'salePrice': '1.610.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '20-07-2021',
  'salePrice': '2.995.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '20-07-2021',
  'salePrice': '3.351.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '20-07-2021',
  'salePrice': '1.320.700',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '19-07-2021',
  'salePrice': '2.675.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '19-07-2021',
  'salePrice': '1.950.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '19-07-2021',
  'salePrice': '1.700.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '19-07-2021',
  'salePrice': '1.207.500',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '18-07-2021',
  'salePrice': '5.150.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '16-07-2021',
  'salePrice': '4.500.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '16-07-2021',
  'salePrice': '5.380.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '16-07-2021',
  'salePrice': '2.200.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '16-07-2021',
  'salePrice': '905.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '16-07-2021',
  'salePrice': '6.150.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '15-07-2021',
  'salePrice': '2.470.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '15-07-2021',
  'salePrice': '1.150.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '15-07-2021',
  'salePrice': '2.250.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '14-07-2021',
  'salePrice': '2.198.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '14-07-2021',
  'salePrice': '8.500.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '14-07-2021',
  'salePrice': '3.835.000',
  'saleTypeId': 1,
  'saleType': 'Fri handel',
  'salesYear': 0},
 {'saleDate': '13-07-2021',
  'salePrice': '1.487.500',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0},
 {'saleDate': '13-07-2021',
  'salePrice': '1.190.000',
  'saleTypeId': 2,
  'saleType': 'Familiehandel',
  'salesYear': 0}]

In [27]:
# Get a list over addresses
address_mislabeled = df['addressLink'].to_list()
address = []

for i in range(len(address_mislabeled)):
    address.append(address_mislabeled[i].replace("~",""))

print(address[0:3])

['/adresse/islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv', '/adresse/toldbodgade-36b-1-th-1253-koebenhavn-k-01017540_36b__1__th', '/adresse/carlsgade-5b-2300-koebenhavn-s-01011080__5b_______']

In [5]:
print(address[0])

/adresse/islands-brygge-38b-6-tv-2300-koebenhavn-s-01013300_38b__6__tv

In [28]:
def get_url(address):
    url =  f"https://www.boligsiden.dk{address}"
    return url

In [48]:
# Boligsiden bolig specifik side
add = address[0]
url = get_url(add)

response = requests.get(url) 
soup = BeautifulSoup(response.text, 'html.parser')
a = soup.find_all('div', {'class': 'u-w-full u-w-1/2@sm u-pl-4 u-pr-6'})
# Boligsiden anvender septima (betalt ydelse)

In [106]:
# Find afstand via hvorlangterder.dk
adresse = df['address'].str.split(',',expand=True)[0].rename('Street')
adresse = pd.concat([adresse,df['city']],axis = 1)
adresse


# for i in range(1) #len(adresser):

                             Street          city
0                Islands Brygge 38B   København S
1                   Toldbodgade 36B   København K
2                      Carlsgade 5B   København S
3                   Østerbrogade 92   København Ø
4              C.F. Møllers Allé 68   København S
5   Borgmester Christiansens Gade 2  København SV
6                     Tølløsevej 23      Brønshøj
7                 Krabbesholmvej 27      Brønshøj
8                 Kongelundsvej 69A   København S
9                   Marstalsgade 38   København Ø
10             Julius Bloms Gade 25   København N
11                    Drejøgade 26E   København Ø
12                  Matthæusgade 50   København V
13           Edvard Thomsens Vej 15   København S
14             C.F. Møllers Allé 20   København S
15                    Banevolden 34         Valby
16               Sankelmarksgade 17   København V
17                    Nyborggade 10   København Ø
18                 Markmandsgade 19   København S
19                 Købmagergade 13A   København K
20                    Backersvej 45   København S
21          Andrei Sakharovs Vej 17  København SV
22                 Østerdalsgade 1A   København S
23                   Hamletsgade 17   København N
24                  Enigheds Allé 4      Brønshøj
25             Lille Farimagsgade 1   København Ø
26                 Holsteinsgade 21   København Ø
27                   Bremensgade 25   København S
28             Strandboulevarden 97   København Ø
29            Store Kongensgade 75D   København K